/********************** Proyectos **********************/

#projects .project-site {
  overflow-x: hidden !important;
}

.projects .projects-slider {
  padding-bottom: 5rem;
}

.projects .projects-slider .caja {
  text-align: center;
  width: 30rem;
}

.projects .projects-slider .caja img {
  width: 100%;
  opacity: 0.5;
  transform: scale(0.8);
}

.projects .projects-slider .caja .content {
  transform: scale(0);
  padding-top: 1rem;
  text-transform: none !important;
}

.projects .projects-slider .swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}

.projects .projects-slider .swiper-slide-active .content {
  transform: scale(1);
}

.projects .projects-slider .caja .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.projects .projects-slider .caja .content p {
  font-size: 1.6rem;
  padding-top: 1.5rem;
  color: var(--light-color-white);
  text-transform: none !important;
}

.projects .projects-slider .caja .content p span {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: bold;
}

.projects .projects-slider .caja .content a {
  margin: 0.5rem;
}

.projects .projects-slider .caja .content .technologies {
  margin-bottom: 2rem;
}

.swiper-pagination-bullet-active {
  background: var(--black);
}

.portafolio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

@media (max-width: 570px) {
  .projects__item img {
    height: 150px;
  }
}

@media (max-width: 450px) {
  .contenedor-modal {
    padding: 2rem;
  }
  .eins-modal-preview {
    width: 60%;
  }
}
